*{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
body{
    background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(142,218,255,1) 100%);
}
.contenedorHeader{
    display: flex;
    flex-flow: row nowrap;
    box-shadow: 0 0 15px;
    height: 10vh;
    background-color: white;
   position: sticky;
   top: 0;
}
.titulo{
    display: flex;
    width: 30%;
    justify-content: flex-start;
    align-items: center;
}
button{
    background-color:#5693FF;
    border:1px solid transparent;
    border-radius: 50px;
    padding: 1em;
    color:white;
    box-shadow: 5px 2.5px 7.5px black;
    font-weight: bold;
}
.seccion1{
    height:20vw;
    
}
.seccion1>img{
    float:left;
    height: 75%;
    width: 25%;
    display: block;
    margin-top: 2.5vw;
    margin-left: 2.5vw;
}
.seccion1>p{
    font-size: 200%;
    color: #F55252;
    font-weight: bold;
    text-align: right;
    padding-right: 25vw;
    padding-top: 8.5vw;
}
.seccion2{
    height:20vw;
}

button:hover{
    box-shadow: 0 0 0;
}
.titulo>img{
    width: 35%;
    height: 75%;
    margin-left: 9%;
}
.contenedorBotones{
    width: 70%;
}
nav{
    display: flex;
    justify-content: flex-end;
    height: 100%;
}
.contenedorBotones>nav>ul{
    display: flex;
    height: 100%;
    align-items: center;
}
.contenedorBotones>nav>ul>li{
    margin-right: 2em;
}
.separador{
    height: 150px;
    text-align: center;
}
.separador>img{
    height: 100%;
    width: 75%;
}